.paginado {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: medium;
}
.paginado li {
    display: inline;
}

.paginado li button {
    float: left;
    padding: 8px 18px;
    border-radius: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #f5f4f39c;
    -webkit-box-shadow: 0px 0px 5px 5px #fffdfc96;
    border-radius: 15px;
    border: transparent;
    margin: 3px;
}

.paginado li button:hover{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 15px 15px #ffffff9c;
    -webkit-box-shadow: 0px 0px 15px 15px #ffffff96;
    border-radius: 15px;
    color: black;
  }

.paginado li button:active{
   
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.paginado li button:focus{
    background-color: #ffffff;
}